hr {
  background-color: #D2D4D5;
  height: 2px;
  border: 0px;
}
.container{
  margin-left:120px;
  margin-right:120px;
}
div{
  font-family: Bahnschrift condensed;
  font-size:20px;
}
mark{
  background-color: #F3CED7;
  color: #F65B81;
}
a {
  color: #ABD1F3;
  text-decoration: none;
}
p {
  font-family: Bahnschrift condensed;
  font-size:20px;
  color: #B2F293;
  padding: 0px;
  margin: 0px;
}
#rcorners1 {
  border-radius: 25px;
  border: 2px solid #D7BBCA;
  padding: 20px;
  width: 800px;
  height: 330px;
}
#rcorners2 {
  border-radius: 25px;
  border: 2px solid #D7BBCA;
  padding: 20px;
  width: 260px;
  height: 160px;
}
.about{
  font-family: Bahnschrift condensed;
  font-size: 20px;
  color: #ABD1F3
}
